<h1>Users <small>Editing user <i><%= @user.full_name %></i></small></h1>

<div class='box-info row clear'>
  <%= bootstrap_form_for @user, url: SoftwearDevise::Engine.routes.url_helpers.user_path(@user),
               html: { method: :put } do |f| %>

    <% if @current_user == @user %>
      <div style='margin-bottom: 10px;'>
        ( <label>Authentication token: </label> <%= @current_user.authentication_token %> )
      </div>
    <% end %>

    <%= render partial: 'users/fields', locals: { f: f } %>

    <div class='form-group'>
      <%= f.submit 'Update' %>
    </div>
  <% end %>

  <% if @current_user && @current_user == @user %>
    <%= link_to 'Change password', change_password_path %>
  <% end %>
</div>
